<template>
  <dx-data-grid id="grid-container"
                :show-borders="true"
                :data-source="dataSource"
                key-expr="ID">
    <dx-group-panel :visible="true" />
    <dx-search-panel :visible="true"
                     :highlight-case-sensitive="true" />
    <dx-grouping :auto-expand-all="false" />
    <dx-sorting mode="multiple" />

    <dx-filter-row :visible="true" />
    <dx-filter-panel :visible="true" />
    <dx-filter-builder-popup :position="filterBuilderPopupPosition" />
    <dx-header-filter :visible="true" />

    <dx-column-chooser :enabled="true"
                       mode="dragAndDrop" />
    <!-- <dx-column-fixing :enabled="true" /> -->

    <dx-selection mode="single" />
    <dx-column :width="70"
               data-field="Prefix"
               caption="Title" />
    <dx-column data-field="FirstName" />
    <dx-column data-field="LastName" />
    <dx-column :width="170"
               data-field="Position" />
    <dx-column :width="125"
               data-field="State" />
    <dx-column data-field="BirthDate"
               data-type="date" />
    <dx-master-detail :enabled="true"
                      template="masterDetailTemplate" />
    <div slot="masterDetailTemplate"
         slot-scope="employee">
      <detail-template :template-data="employee" />
    </div>
    <dx-grouping :auto-expand-all="false" />
  </dx-data-grid>
</template>
<script>
import {
  DxDataGrid,
  DxColumn,
  DxMasterDetail,
  DxGrouping,
  DxGroupPanel,
  DxSearchPanel,
  DxSorting,
  DxHeaderFilter,
  DxFilterRow,
  DxFilterPanel,
  DxFilterBuilderPopup,
  DxColumnChooser,
  DxColumnFixing,
  DxSelection
} from "devextreme-vue/data-grid";

import DetailTemplate from "./DetailTemplate.vue";
import service from "./data.js";

const employees = service.getEmployees();

export default {
  components: {
    DxDataGrid,
    DxColumn,
    DxMasterDetail,
    DxGrouping,
    DxGroupPanel,
    DxSearchPanel,
    DxSorting,
    DxHeaderFilter,
    DxFilterRow,
    DxFilterPanel,
    DxFilterBuilderPopup,
    DxColumnChooser,
    DxColumnFixing,
    DxSelection,
    DetailTemplate
  },
  data() {
    return {
      dataSource: employees
    };
  }
};
</script>
<style>
#grid-container {
  height: 440px;
}
</style>
