<template>
  <div class="MoneyOperationDataGrid">
    <dx-data-grid :show-borders="true"
                  :data-source="dataSource"
                  :remote-operations="true"
                  :height="600"
                  :allowColumnResizing="true"
                  :columnAutoWidth="true"
                  :columns="cols"
                  class="test">

      <!-- <dx-scrolling mode="virtual"
                    row-rendering-mode="virtual" /> -->
      <dx-group-panel :visible="true" />
      <dx-search-panel :visible="true"
                       :highlight-case-sensitive="true" />
      <dx-grouping :auto-expand-all="false" />
      <dx-sorting mode="multiple" />

      <dx-filter-row :visible="true" />
      <dx-filter-panel :visible="true" />
      <dx-filter-builder-popup />
      <dx-header-filter :visible="true" />

      <dx-column-chooser :enabled="true"
                         mode="dragAndDrop" />
      <dx-column-fixing :enabled="true" />

      <dx-selection mode="single" />
      <dx-master-detail :enabled="true"
                        template="masterDetailTemplate" />
      <div slot="masterDetailTemplate"
           slot-scope="opee">
        <detail-template :template-data="opee" />
      </div>
    </dx-data-grid>
  </div>
</template>
<script>
import {
  DxDataGrid,
  DxGrouping,
  DxGroupPanel,
  DxSearchPanel,
  // DxScrolling,
  DxSorting,
  DxHeaderFilter,
  DxFilterRow,
  DxFilterPanel,
  DxFilterBuilderPopup,
  DxColumnChooser,
  DxColumnFixing,
  DxSelection,
  DxMasterDetail
} from "devextreme-vue/data-grid";

import { createStore } from "devextreme-aspnet-data-nojquery";
import DetailTemplate from "./MoneyOperationSubData";

const url = "http://192.168.252.3/mb/test001atos/dev/bov2/api/transactions";

const dataSource = createStore({
  key: "id",
  loadUrl: url,
  onBeforeSend: (method, ajaxOptions) => {
    ajaxOptions.xhrFields = {
      withCredentials: false
    };
    ajaxOptions.headers = {
      Authorization:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2dpbkFzIjoibXlMb2dpbiIsImxvZ2luUG93ZXIiOiJteVBvd2VyIiwiZXhwIjoxNTQ3NDk3NTU0LCJpc3MiOiJpc3N1ZXIiLCJhdWQiOiJMZW1vbldheS5ibyJ9.fBbT1HsynkQngHGLSgaFN9B9vN9S3ECuINboSKK9m68"
    };
  }
});

export default {
  components: {
    DxDataGrid,
    DxGrouping,
    DxGroupPanel,
    DxSearchPanel,
    DxSorting,
    DxHeaderFilter,
    DxFilterRow,
    DxFilterPanel,
    DxFilterBuilderPopup,
    DxColumnChooser,
    DxColumnFixing,
    DxSelection,
    DxMasterDetail,
    DetailTemplate
    // DxScrolling
  },
  data() {
    return {
      url,
      dataSource,
      cols: ["id", "amount", "wallet", "paymentMethod"]
    };
  }
};
</script>

<style scoped>
</style>
