<template>
  <div class="MoneyOperationSubData">
    <dx-data-grid :data-source="dataSource"
                  :show-borders="true"
                  :column-auto-width="true"
                  :allowColumnResizing="true">

    </dx-data-grid>
  </div>
</template>

<script>
import { DxDataGrid } from "devextreme-vue/data-grid";
import { createStore } from "devextreme-aspnet-data-nojquery";
export default {
  components: { DxDataGrid },
  props: {
    templateData: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    let data = this.templateData.data;
    const url = "http://localhost:63756/api/p2p/" + data.id;
    const dataSource = createStore({
      key: "id",
      loadUrl: url,
      onBeforeSend: (method, ajaxOptions) => {
        ajaxOptions.xhrFields = {
          withCredentials: false
        };
        ajaxOptions.headers = {
          Authorization:
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2dpbkFzIjoibXlMb2dpbiIsImxvZ2luUG93ZXIiOiJteVBvd2VyIiwiZXhwIjoxNTQ3NDk3NTU0LCJpc3MiOiJpc3N1ZXIiLCJhdWQiOiJMZW1vbldheS5ibyJ9.fBbT1HsynkQngHGLSgaFN9B9vN9S3ECuINboSKK9m68"
        };
      }
    });
    return {
      dataSource
    };
  }
};
</script>

<style>
</style>
