<template>
  <div class="DE_ServerSide">
    <dx-data-grid :show-borders="true"
                  :data-source="dataSource"
                  :remote-operations="true"
                  :height="600"
                  :allowColumnResizing="true"
                  :columnAutoWidth="true"
                  class="test">
      <dx-group-panel :visible="true" />
      <dx-search-panel :visible="true"
                       :highlight-case-sensitive="true" />
      <dx-grouping :auto-expand-all="false" />
      <dx-sorting mode="multiple" />

      <dx-filter-row :visible="true" />
      <dx-filter-panel :visible="true" />
      <dx-filter-builder-popup :position="filterBuilderPopupPosition" />
      <dx-header-filter :visible="true" />

      <dx-column-chooser :enabled="true"
                         mode="dragAndDrop" />
      <dx-column-fixing :enabled="true" />

      <dx-selection mode="single" />
    </dx-data-grid>
  </div>
</template>
<script>
import {
  DxDataGrid,
  DxGrouping,
  DxGroupPanel,
  DxSearchPanel,
  DxSorting,
  DxHeaderFilter,
  DxFilterRow,
  DxFilterPanel,
  DxFilterBuilderPopup,
  DxColumnChooser,
  DxColumnFixing,
  DxSelection
} from "devextreme-vue/data-grid";

import { createStore } from "devextreme-aspnet-data-nojquery";

const url = "http://localhost:63756/api/wallets";

const dataSource = createStore({
  key: "user_id",
  loadUrl: "http://localhost:63756/api/wallets",
  onBeforeSend: (method, ajaxOptions) => {
    ajaxOptions.xhrFields = {
      withCredentials: false
    };
  }
});

export default {
  components: {
    DxDataGrid,
    DxGrouping,
    DxGroupPanel,
    DxSearchPanel,
    DxSorting,
    DxHeaderFilter,
    DxFilterRow,
    DxFilterPanel,
    DxFilterBuilderPopup,
    DxColumnChooser,
    DxColumnFixing,
    DxSelection
  },
  data() {
    return {
      url,
      dataSource
    };
  }
};
</script>

<style scoped>
</style>