<template>
  <div class="home">
    <router-link to="/">Home</router-link><br>
    <router-link to="/about">About</router-link><br>
    <router-link to="/devextreme/serverside">DE_ServerSide</router-link><br>
    <router-link to="/devextreme/masterview">masterview</router-link><br>
    <router-link to="/devextreme/lineChart">lineChart</router-link><br>
  </div>
</template>

<script>
export default {
  name: "home"
};
</script>
