<template>
  <div id="LineChart">
    <dx-chart id="chart"
              :data-source="dataSource">
      <dx-common-series-settings :type="type"
                                 argument-field="Key" />
      <dx-crosshair :enabled="true"
                    color="#949494"
                    width="3"
                    dashStyle="dot"
                    :label="label" />
      <dx-series v-for="type in statType"
                 :key="type.value"
                 :value-field="type.value"
                 :name="type.name" />
      <dx-margin :bottom="20" />
      <dx-argument-axis :value-margins-enabled="true"
                        discrete-axis-division-mode="crossLabels">
        <dx-grid :visible="true" />
      </dx-argument-axis>
      <dx-legend vertical-alignment="bottom"
                 horizontal-alignment="center"
                 item-text-position="bottom" />
      <dx-export :enabled="true" />
      <dx-title text="Count Money in-out">
        <dx-subtitle text="Sum in  Sum Out" />
      </dx-title>
      <dx-tooltip :enabled="true"
                  :customize-tooltip="customizeTooltip" />
    </dx-chart>
    <div class="options">
      <div class="caption">Options</div>
      <div class="option">
        <span>Series Type</span>
        <dx-select-box :data-source="types"
                       :value.sync="type" />

      </div>
      <div class="option">
        <span>Group By</span>
        <dx-select-box :data-source="groupBys"
                       :value.sync="groupBy" />
      </div>
    </div>
  </div>
</template>
<script>
import {
  DxChart,
  DxSeries,
  DxArgumentAxis,
  DxCommonSeriesSettings,
  DxExport,
  DxGrid,
  DxMargin,
  DxLegend,
  DxTitle,
  DxSubtitle,
  DxTooltip,
  DxCrosshair
} from "devextreme-vue/chart";
import DxSelectBox from "devextreme-vue/select-box";

import service from "@/assets/data/Transactions_sum.js";

export default {
  components: {
    DxSelectBox,
    DxChart,
    DxSeries,
    DxArgumentAxis,
    DxCommonSeriesSettings,
    DxExport,
    DxGrid,
    DxMargin,
    DxLegend,
    DxTitle,
    DxSubtitle,
    DxTooltip,
    DxCrosshair
  },

  data() {
    return {
      // energySources: service.getEnergySources(),
      statType: [
        {
          value: "In",
          name: "Income"
        },
        {
          value: "Out",
          name: "Outcome"
        }
      ],
      types: [
        "line",
        "stackedline",
        "fullstackedline",
        "spline",
        "stackedspline"
      ],
      type: "line",
      groupBys: ["day", "month", "year"],
      groupBy: "month",
      label: {
        visible: true,
        backgroundColor: "#949494",
        font: {
          color: "#fff",
          size: 12
        }
      }
    };
  },
  computed: {
    dataSource() {
      return service.getData(this.groupBy);
    }
  },
  methods: {
    customizeTooltip: arg => {
      return {
        text: arg.valueText
      };
    }
  }
};
</script>
<style>
.options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  margin-top: 20px;
}

.option {
  margin-top: 10px;
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option > span {
  margin-right: 10px;
}

.option > .dx-widget {
  display: inline-block;
  vertical-align: middle;
}
</style>
